/* On mouse hover, lighten state color */
body {
    font-family: "Lato", sans-serif;
    max-width: 944px;
}


path:hover {
	pointer-events: all;
}

select:focus{ outline: none; }
select {
  background-color: #f8f8f8;
	display: block;
  border-width: 1px;
  width: 220px;
  height: 34px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  font: 20px Lato;
  font-weight: 400;
  color: #29abe2;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 select {
  background-color: #f8f8f8;
  }

  }
.state-text {
	float: left;
	margin-left: 2em;
}

.y-axis-label {
  font-size: 12px;
  font-style: italic;
}
.tooltip-container {
    height: 80px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 0;
 
}


.tooltip-title {
	font-family: Lato;
  font-size: 13px;
  color: #000;
  font-weight: 400;
}
.tooltip-data.average{
  font-size: 13px;
  margin-top: 5px;
  color: #000;
}
.region-text{
	float: left;
  margin-top: 30px;
/*  width: 25%;
*/}
.stats-text{
  float: left;
  margin: 30px 25px 0 25px

/*  width: 25%;
*/}
.dropdown-text{
  float: right;
  margin-top: 30px;

}
.dropdown-container {

}
.ui-selectmenu-text {
  width: 85%;
}

.ui-button {
  padding: .4em .8em !important;
}

.tooltip-data {
	font-family: Lato;
  font-size: 20px;
  color: #29abe2;
  font-weight: 400;
  margin-top: 10px;
}

.state-label {
  font-family: Lato;
  font-size: 12px;
  fill: #000000;
  font-weight: 800;
  margin-top: 10px;
  pointer-events: all;
}

#map-container {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  position: relative;
  z-index: 1;

}

.legend-labels {
  font-size: 12px;
  font-weight: 700;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.state-label:hover {
	fill: #fdbf11;
}



/*BAR CHART */
.bar {
  cursor: pointer;
}

.hover, .selected {
  fill: #fdbf11 !important;
}
path.domain {
  fill: none;
}
.tick > text {
  font-size: 11px;
}

.axis--y > path.domain {
  stroke: #fff;
}

.axis--x > path.domain {
  stroke: #fff;
}
.tick > line {
  stroke: #cccccc;
}
/**MOBILE SCREEN WIDTHS **/

#isMobile, #isPhone{
    display: none;
    pointer-events: none;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 600px) {
  #isPhone {
    display: block;
  }
  .state-label {
    font-size: 10px;
  }
  .region-text {
    width: 100%;

  }
  .dropdown-text {
    width: 100%;
  }
  .tooltip-container {
    width: 200px;
  }
}

@media (max-width: 768px) {
  #isMobile {
    display: block;
  }


}

@media (max-width: 1100px) {
  .wrapper {
    width: 100%;
  }
}